.header {
    width: 100%;
    height: 2.24rem;
    padding: 0 0.46rem;
    box-sizing: border-box;
    margin-top: 0.5rem;
}

.header .classic {
    width: 2.04rem;
    height: 2.24rem;
    background: url(../img/2048_经典模式按钮.png) no-repeat;
    background-size: 100%;
    text-align: center;
    padding: 0.56rem 0 0.42rem 0;
    box-sizing: border-box;
    float: left;
}

.header .classic img {
    width: 1.5rem;
    height: 0.5rem;
}

.header .classic .title {
    font-size: 0.36rem;
    color: #fefe00;
    font-weight: bold;
}

.header .start-in {
    float: right;
    color: #ffffcc;
}

.header .start-in .score {
    width: 2.17rem;
    height: 1.01rem;
    float: left;
    background: url(../img/得分_底.png) no-repeat;
    background-size: 100%;
    text-align: center;
    font-size: 0.34rem;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
}

.header .start-in .newgame {
    width: 4.25rem;
    height: 0.91rem;
    margin: auto;
    font-size: 0.36rem;
    line-height: 0.84rem;
    text-align: center;
    /* font-weight: bold; */
    background: url(../img/新游戏_底.png) no-repeat;
    background-size: 100% 100%;
    margin-top: 1.26rem;
}

.head {
    width:100%;
    height:1rem;
    line-height:1rem;
    text-align: center;
    font-size: 0.3rem;
    color: #fee900;
    font-weight: bold;
}

.gird-container {
    width: 6.94rem;
    height: 6.95rem;
    margin: auto;
    background: url(../img/底板1.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.num-cell{
    position:absolute;
    font-size:0.65rem;
    font-weight:bold;
    color:#fff;
    text-align:center;
    line-height:1.28rem;
    background-size:100%;
}

.menu {
    width: 4.75rem;
    height: 1.51rem;
    margin: 0.76rem auto 0;
    background: url(../img/蓝色按钮_底.png)no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}

.menu img {
    display:block;
    width: 2.26rem;
    height: 0.83rem;
    margin:0.2rem auto 0;
}